* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: #cde7f1;
	overflow-x: hidden;
}

.home-page {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(images/background.jpeg);
	background-position: center;
	background-size: cover;
	position: relative;
}

header {
	padding: 0 20px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

#logo {
	margin-left: 2rem;
	transform: translateY(1.5rem);
	width: 90px;
}

ul {
	list-style: none;
	height: 100%;
	display: flex;
}

ul li:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

.desktop-menu {
	transform: translateY(1rem);
}

.desktop-menu li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
}

.desktop-menu li a {
	color: white;
	text-decoration: none;
	font-size: 15px;
}

.desktop-menu li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #55a7c7;
	display: block;
	margin: auto;
	transition: 0.5s;
	/* makes a line at the bottom of each menu form the nav bar */
}

.desktop-menu li:hover::after {
	width: 100%;
}

.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-box h1 {
	font-size: 62px;
}

.text-box p {
	margin: 10px 0 40px;
	font-size: 18px;
	color: white;
}

#hamburger-menu {
	margin: auto 0;
	display: none;
	cursor: pointer;
}

#hamburger-menu div {
	width: 35px;
	height: 3px;
	background-color: white;
	margin: 6px 0;
	transition: 0.4s;
}

.open .line1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
}

.open .line2 {
	opacity: 0;
}

.open .line3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
}

.open .responsive-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.responsive-menu {
	display: none;
	position: absolute;
	background: #a0ccdd;
	height: 100vh;
	width: 200px;
	top: 0;
	right: 0px;
	/* to hide the menu */
	text-align: left;
	z-index: 1;
	transition: 1s;
}

.responsive-menu li {
	padding-bottom: 25px;
}

.responsive-menu a {
	color: black;
	font-weight: 600;
	text-decoration: none;
}

@media only screen and (max-width: 700px) {
	header nav {
		display: none;
	}

	#hamburger-menu {
		display: block;
	}

	.text-box h1 {
		font-size: 20px;
	}

	#intro {
		margin-bottom: 20px;
	}
}

/* group part of the page */
#our-group {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 80px;
}

h1 {
	font-size: 36px;
	font-weight: 600;
}

#intro {
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

p {
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
	margin-left: -60px;
}

.group-col {
	flex-basis: 31%;
	background: #a0ccdd;
	border-radius: 10px;
	margin-bottom: 5%;
	box-sizing: border-box;
	transition: 0.5s;
	margin-left: 50px;
	margin-top: -30px;
	min-width: 20%;
}

#our-group img {
	width: 60%;
	height: auto;
	border-radius: 7px;
}

h3 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.group-col:hover {
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.589);
}

@media (max-width: 700px) {
	.row {
		flex-direction: column;
	}
	.group-col {
		margin-bottom: 50px;
	}
}

/* ideas part of the page */
#ideas {
	width: 100%;
	margin: auto;
	text-align: center;
	padding-top: 50px;
	background-color: #a0ccdd;
}

#ideas img {
	width: 14rem;
	padding: 1rem 1rem;
}

#ideas img:hover {
	opacity: 0.85;
}

/*contact us part of the page */
#contact-us-head{
	width: 500px;
	margin: auto;
	text-align: center;
	padding-top: 50px;
}
#text-contact-below{
	width: 500px;
	margin: auto;
	text-align: center;
}
.main-box{
	position: absolute;
	transform: translate(450px);
	width: 900px;
	max-width: 950px;
	background: none;
	padding: 30px;
	border-radius: 10px;
}

.main-box .title h1{
	color: #000000;
	text-align: center;
	margin-bottom: 10px;
}

.contact-form{
	display: flex;
}

.input-boxes{
	display: flex;
	flex-direction: column;
	margin-right: 40px;
}

.input-boxes, .message-box{
	width: 800px;
}

.input-boxes .input, .message-box textarea{
	margin: 10px 0;
	background: transparent;
	border: 0px;
	border-bottom: 1px solid #000000;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	padding: 10px;
	color: #000000;
	width: 450px;
}
.message-box textarea{
	height: 206px;
	resize:none;
}

/*for different browsers*/
::-webkit-input-placeholder {
	color: #000000;
}
::-moz-placeholder {
	color: #000000;
}
:-ms-input-placeholder {
	color: #000000;
}

.btn-form {
background: #8bcce0;
text-align: center;
width: 200px;
height:35px;
padding: 5px;
border:solid 1px #55a7c7;
border-radius: 50px;
color: rgb(0, 0, 0);
cursor: pointer;
transform: translate(-110px,10px);
transition: 0.7s ease-in-out;
}
.btn-form:hover {
	transition: 0.7s ease-in-out;
	background: #4F95DA;
}
@media screen and (max-width: 700px){
.main-box{
	transform: translate(50px,-20px);
	width: 500px;
}
.contact-form{
	flex-direction: column;
}
.message-box textarea{
	height: 80px;
}
.input-boxes,.message-box{
	width: 500px;
}
.btn-form{
	transform: translate(60px,0px);
	width:400px;
}
#text-contact-below{
	font-size:18px;
	padding:1px;
}
}