* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --color-green: #C3D67C;
    --color-black: #020000;
    --color-white: #F1F1F1;
    --font-logo: 'Lobster Two', cursive;
    --font-headings: 'Grandstander', cursive;
    --font-text: 'Lato', cursive;
}

/* HEADER */
header {
    position: fixed;
    background-color: var(--color-green);
    height: 11vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 3;
    width: 100%;
}

.bgColor {
    background-color: var(--color-black);
    color: var(--color-white);
    transition: all 1s ease;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-family: var(--font-headings);
    font-weight: 600;
    text-transform: uppercase;
}

header nav ul li {
    display: inline-block;
    padding: 0 1.5rem;
    transition: transform .5s ease;
}

header nav ul li a {
    text-decoration: none;
    color: var(--color-black);
}

.desktop-menu .nav-logo img {
    width: 14vw;
    height: auto;
}

.desktop-menu .nav-language img {
    width: 2.1vw;
    height: auto;
}

header nav ul li:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.drop-down-language {
    position: relative;
    display: inline-block;
}

.drop-down-content {
    display: none;
    position: absolute;
    background-color: var(--color-green);
    min-width: 5vw;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: .2rem;
}

.drop-down-content a {
    color: black;
    padding: 0.7rem 0rem;
    text-decoration: none;
    display: block;
    text-align: center;
}

.drop-down-content a:hover {
    background-color: var(--color-white);
    transition: all .5s ease;
    border-radius: .2rem;
}

.drop-down-language:hover .drop-down-content {
    display: block;
}

/* HOME PAGE */
#home {
    position: relative;
    height: 100vh;
    background-color: var(--color-black);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#home .video-heading {
    display: inline-block;
    text-align: center;
    color: var(--color-white);
    font-family: var(--font-headings);
    z-index: 1;
    font-size: 1.5rem;
}

#home .video-heading h1 {
    font-weight: 500;
}

#home .video-heading h2 {
    font-family: var(--font-logo);
    font-size: 3.8rem;
    font-weight: 600;
}

#home .video-container {
    position: absolute;
    display: flex;
    justify-content: center;
    opacity: 0.6;
}

#home-socials {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
}

#home-socials img {
    width: 1.8vw;
    padding: 0 0.5rem;
}


/* ABOUT ME PAGE */
#about-me {
    overflow: hidden;
    position: relative;
    background-color: var(--color-black);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#maaike-picture img {
    flex: 1;
    width: 41vw;
    height: auto;
    margin-top: 5rem;
}

#maaike-text {
    flex: 1;
    flex-direction: column;
    display: flex;
    align-items: center;
}

#maaike-text p {
    color: var(--color-white);
    font-size: 1.3rem;
    font-family: var(--font-text);
    text-align: center;
    width: 40vw;
}

#maaike-text h1 {
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    margin-bottom: 1.8rem;
    font-size: 3rem;
    font-family: var(--font-headings);
    font-weight: 400;
}

c {
    color: var(--color-green);
}

/* LISTEN NOW PAGE */
#listen-now {
    position: relative;
    background-color: var(--color-green);
    height: 100vh;
}

/* EVENTS PAGE */
#events {
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(8, 8, 8, .7)), url(images/maaike-alberto-events.PNG);
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#events-container h1 {
    margin-bottom: 15rem;
    font-family: var(--font-headings);
    color: var(--color-white);
    font-size: 3rem;
    font-weight: 400;

}

#events-container p {
    font-family: var(--font-text);
    color: var(--color-white);
    font-size: 1.7rem;
    font-weight: 530;
    padding-bottom: 15px;
    font-weight: 600;
}


#contact-me {
    overflow-x: hidden;
    position: relative;
    background-color: var(--color-green);
    height: 100vh;
    display: flex;
    align-items: center;
}

.contact-me-tree {
    flex: 1;
}

.contact-me-tree video {
    width: 30vw;
    height: auto;
}

.contact-me-form {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 5rem ;
}

.contact-me-info {
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-left: 3rem;
}

.contact-me-form form {
    width: 50%;
    height: 100%;
    padding: 2rem 2rem;
    text-align: center;
}

.contact-me-form input {
    height: 2rem;
    width: 100%;
    border: none;
    padding: .7rem;
    border-bottom: .5px solid var(--color-black);
    background-color: transparent;
    transition: 1s ease all;
    font-size: 1rem;
}

.field {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5rem 0;
}

.border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    transform: scale(0);
    transform-origin: left;
    height: .2rem;
    background-color: #5c7a19;
    transition: .4s ease-in-out all;
}

.contact-me-form label {
    font-family: var(--font-headings);
    font-weight: 500;
    font-size: 1.4rem;
    position: absolute;
    left: .5rem;
    transition: .5s ease all;
}

.contact-me-form input:focus {
    outline: 0;
}

.contact-me-form button {
    font-family: var(--font-headings);
    font-size: 1.3rem;
    font-weight: 700;
    padding: .8rem;
    width: 13rem;
    height: 3rem;
    border-radius: 3rem;
    background-color: transparent;
    border: 1px solid var(--color-black);
    cursor: pointer;
    line-height: 1.6rem;
}

.contact-me-form label.top {
    transform: translateY(-1.6rem);
}

.contact-header {
    font-family: var(--font-headings);
    font-weight: 600;
    font-size: 1.7rem;
}

.contact-text {
    font-family: var(--font-text);
    margin-bottom: 2rem;
}
/*----------------Responsive-----------*/


#hamburger-menu {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

.lines,
.line1,
.line2,
.line3 {
    width: 35px;
    height: 3px;
    margin: 6px 0;
    transition: 0.4s;
    display: block;
}

.responsive-menu {
    display: none;
    position: fixed;
    background: #F2E8CF ;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0px;
    text-align: left;
    z-index: 1;
    transition: 1s;
    padding-top: 90px;
}

.responsive-menu li {
    padding-bottom: 25px;
}

.responsive-menu a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    text-align: right;
}

.responsive-menu #exit {
    text-align: right;
    color: black;
    position: relative;
    top: -2%;
    left: -7%;

}

#exit img {
    width: 20%;

}

.open .line1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
    z-index: 1;
}

.open .line2 {
    opacity: 0;
}

.open .line3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .responsive-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: -1;
}
.logo img{
    display: none;
}



@media only screen and (max-width: 1200px) {
    .body-home {
        height: 100%;
        width: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .nav-logo a{
        display: block;
    }
    #home-socials img{
        width: 5vw;
       
    }
}
@media only screen and (max-width: 760px) {

    #hamburger-menu .box-menu-language {
        visibility: visible;
        display: flex;
        flex: 0;
        margin-top: 40px;
    }

    .lines {
        position: absolute;
        top: 2.5rem;
        right: 1.5rem;
        z-index: 2;
        display: block;
    }
    .body-home {
        height: 100%;
        width: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .responsive-menu li a {
        position: relative;
        text-decoration: none;
        color: black;
        font-family: 'Grandstander', cursive;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1rem;
        text-align: right;
        list-style: none;
    }
    #hamburger-menu {
        display: block;
        margin-right: 5%;
    }

}
#hamburger-menu {
	margin: auto 0;
	display: none;
	cursor: pointer;
}
#hamburger-menu div {
    width: 35px;
    height: 3px;
    margin: 6px 0;
    background-color: black;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
}

.open .line1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
}

.open .line2 {
	opacity: 0;
}

.open .line3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
}

.open .responsive-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.responsive-menu {
	display: none;
	position: absolute;
	background: #C3D67C;
	height: 100vh;
	width: 200px;
	top: 0;
	right: 0px;
	/* to hide the menu */
	text-align: left;
	z-index: 1;
	transition: 1s;
}

.responsive-menu li {
	padding-bottom: 25px;
}

.responsive-menu a {
	color: black;
	font-weight: 600;
	text-decoration: none;
}
@media only screen and (max-width: 700px) {
    .nav-logo li img{
       width: 1vw;

    }
    .vertical-line{
        background-color: #C3D67C;
    }
	header nav {
		display: none;
	}
    .nav-logo{
    display: block;
    }
	#hamburger-menu {
		display: block;
	}

	.text-box h1 {
		font-size: 20px;
	}
    #hamburger-menu .box-menu-language {
        visibility: visible;
        display: flex;
        flex: 0;
        margin-top: 40px;
    }

    .languages .lang-button {
        font-family: 'Grandstander', cursive;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1.2rem;
        background: none;
        border: none;
        cursor: pointer;
    }
    .logo img{
        width: 26vh;
    position: relative;
    top: 1vh;
    left: 2vw;
    display: block;
    }
    .web-navigation {
        display: none;
    }
    #home-socials img{
        width: 7vw;
       
    }
}
@media only screen and (max-width: 700px) {
    .header nav ul li a img{
        display: block;
        z-index: 1;
    }
    .box-menu-navigation {
        display: none;
    }

    .box-menu-language {
        visibility: hidden;
    }
    #hamburger-menu .box-menu-language {
        visibility: visible;
        display: flex;
        flex: 0;
        margin-top: 40px;
    }
    .lines {
        position: absolute;
        top: 2.5rem;
        right: 1.5rem;
        z-index: 2;
        display: block;
    }
    .body-home {
        height: 100%;
        width: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
    .box-menu-navigation {
        display: none;
    }
    ul {
        list-style: none;

    }
    .responsive-menu li a {
        position: relative;
        text-decoration: none;
        color: black;
        font-family: 'Grandstander', cursive;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 1rem;
        text-align: right;
        list-style: none;
    }
    .home-box-body-tree {
        display: none;
    }

    .web-navigation {
        display: none;
    }

    #hamburger-menu {
        display: block;
       margin-right: -89%;
      
    }  
    .lines, .line1, .line2, .line3 {
        width: 35px;
        height: 3px;
        margin: 6px 0;
        transition: 0.4s;
        display: block;
        z-index: 1;
    }
    #home-socials img{
        width: 7vw;
       
    }
  

 


}
