* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  /* Color variables */
  --color-green: #c3d67c;
  --color-black: #020000;
  --color-white: #f1f1f1;
  --font-logo: "Lobster Two", cursive;
  --font-headings: "Grandstander", cursive;
  --font-text: "Lato", cursive;
  --vinyl-color: #141414;
  --green-color: #c3d67c;

  /* Size variables */
  --plate-size: 23vw;
  --holder-size: 20vw;
}

/* HEADER */
header {
  position: fixed;
  background-color: var(--color-green);
  height: 11vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 100%;
}

header nav ul {
  width: 100vw;
  max-width: 64rem;
  margin-inline: auto;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  font-family: var(--font-headings);
  font-weight: 600;
  text-transform: uppercase;
}

header nav ul li {
  display: inline-block;
  transition: transform 0.5s ease;
}

header nav ul li a {
  text-decoration: none;
  white-space: nowrap;
  color: var(--color-black);
}

.desktop-menu .nav-logo img {
  width: 14vw;
  height: auto;
  min-width: 13rem;
}

.desktop-menu .nav-language img {
  width: 2.1vw;
  height: auto;
}

header nav ul li:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.drop-down-language {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.drop-down-content {
  display: none;
  position: absolute;
  background-color: var(--color-green);
  min-width: 5vw;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 0.2rem;
  transform: translateY(2.5vw);
}

.drop-down-content a {
  color: black;
  padding: 0.7rem 0rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

.drop-down-content a:hover {
  background-color: var(--color-white);
  transition: all 0.5s ease;
  border-radius: 0.2rem;
  touch-action: auto;
}

.drop-down-language:hover .drop-down-content {
  display: block;
}

/* HOME PAGE */
#home {
  position: relative;
  height: 100vh;
  background-color: var(--color-black);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#home .video-heading {
  display: inline-block;
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-headings);
  z-index: 1;
  font-size: 1.5rem;
}

#home .video-heading h1 {
  font-weight: 500;
}

#home .video-heading h2 {
  font-family: var(--font-logo);
  font-size: 3.8rem;
  font-weight: 600;
}

#home .video-container {
  position: absolute;
  display: flex;
  justify-content: center;
  opacity: 0.6;
}

#home-socials {
  display: inline-block;
  width: 100%;
  margin-top: 1rem;
}

#home-socials img {
  width: 1.5rem;
  padding: 0 0.5rem;
}

/* ABOUT ME PAGE */
#about-me {
  overflow: hidden;
  position: relative;
  background-color: var(--color-black);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#maaike-picture img {
  flex: 1;
  width: 40vw;
  height: auto;
  margin-top: 10rem;
}

#maaike-text {
  flex: 1;
  flex-direction: column;
  display: flex;
  align-items: center;
}

#maaike-text p {
  color: var(--color-white);
  font-size: 1.3rem;
  font-family: var(--font-text);
  text-align: center;
  width: 40vw;
}

#maaike-text h1 {
  align-items: center;
  justify-content: center;
  color: var(--color-white);
  margin-bottom: 1.8rem;
  font-size: 3rem;
  font-family: var(--font-headings);
  font-weight: 400;
}

c {
  color: var(--color-green);
}

/* LISTEN NOW PAGE */

.songs-heading h1 {
  display: none;
}

.songs {
  display: none;
}

#listen-now {
  position: relative;
  height: 100vh;
  background-color: var(--green-color);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: right;
}
#listen-now p{
  font-family: var(--font-text);
  color:var(--color-black);
  font-size: 1rem;
  font-weight: 500;
  position: absolute;
  bottom: 2rem;
  width: 100vw;
  text-align: center;
}
.plate-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}

.record-plate {
  width: calc(var(--holder-size) - 5px);
  height: calc(var(--holder-size) - 5px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
  z-index: 2;
  background-image: url("images/vinyl-tecture.jpg");
  background-position: center;
  overflow: hidden;
  left: 7.5rem;
  top: 10rem;
  -webkit-mask-image: radial-gradient(10px at 50% 50%,
      transparent 95%,
      black 100%);
}

.record-plate:nth-child(2) {
  top: calc(var(--holder-size) - 5px);
  left: calc(10rem + (var(--holder-size) - 5px));
}

.record-plate img {
  border-radius: 50%;
  width: 8vw;
  height: 8vw;
}

#listen-now-responsive {
  display: none;
}

#vinyl-holder {
  background-image: url("images/vinyl-player.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 35vw;
  height: 25vw;
  margin-right: 7.5rem;
}

#plate-spot {
  position: absolute;
  width: 20vw;
  left: 6vw;
  top: 2.5vw;
  border-radius: 50%;
}

.needle {
  position: absolute;
  height: 65%;
  right: 6vw;
  transform-origin: top right;
  top: 4.5vw;
  z-index: 1;
}

.on-vinyl {
  animation: move-needle 1s forwards;
}

.playing {
  animation: rotating 10s linear infinite, on-player .1s forwards;
}

@keyframes on-player {
  to {
    left: unset;
    right: calc(7.65rem + 9vw);
    top: calc(50% - 10vw + .15rem);
  }
}

@keyframes move-needle {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* EVENTS PAGE */
#events {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(8, 8, 8, 0.7)),
    url("images/maaike-alberto-events.PNG");
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#events-container h1 {

  margin-bottom: 15rem;
  font-family: var(--font-headings);
  color: var(--color-white);
  font-size: 3rem;
  font-weight: 400;
}

#events-container p {
  font-family: var(--font-text);
  color: var(--color-white);
  font-size: 1.7rem;
  font-weight: 530;
  padding-bottom: 15px;
  font-weight: 600;
}

#events-container a {
  text-decoration: none;
}

/* CONTACT ME PAGE */
#contact-me {
  overflow-x: hidden;
  position: relative;
  background-color: var(--color-green);
  height: 100vh;
  display: flex;
  align-items: center;
}

.contact-me-tree {
  flex: 1;
}

.contact-me-tree video {
  width: 32vw;
  height: auto;
}

.contact-me-form {
  flex: 1;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: 5rem;
  justify-content: center;
}

.contact-me-info {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-left: 3rem;
}

.contact-me-form form {
  width: 50%;
  height: 100%;
  text-align: center;
}

.contact-me-form input {
  height: 2rem;
  width: 100%;
  border: none;
  padding: 0.7rem;
  border-bottom: 0.5px solid var(--color-black);
  background-color: transparent;
  transition: 1s ease all;
  font-size: 1rem;
}

.field {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem 0;
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  transform: scale(0);
  transform-origin: left;
  height: 0.2rem;
  background-color: #5c7a19;
  transition: 0.4s ease-in-out all;
}

.contact-me-form label {
  font-family: var(--font-headings);
  font-weight: 500;
  font-size: 1.4rem;
  position: absolute;
  left: 0.5rem;
  transition: 0.5s ease all;
}

.contact-me-form input:focus {
  outline: 0;
}

.contact-me-form button {
  font-family: var(--font-headings);
  font-size: 1.3rem;
  font-weight: 700;
  padding: 0.8rem;
  width: 13rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: transparent;
  border: 1px solid var(--color-black);
  cursor: pointer;
  line-height: 1.6rem;
}

.contact-me-form label.top {
  transform: translateY(-1.6rem);
}

.contact-header {
  font-family: var(--font-headings);
  font-weight: 600;
  font-size: 1.7rem;
}

.contact-text {
  font-family: var(--font-text);
  margin-bottom: 2rem;
}

/* EVENTS FUTURE AND PAST PAGES */
#events-details {
  position: absolute;
  z-index: -3;
  background-color: var(--color-green);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

#events-details h1 {
  font-size: 3rem;
  font-family: var(--font-headings);
  font-weight: 400;
  text-transform: uppercase;
}

.event-list {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-event {
  display: none;
}

.container-box:hover>p {
  display: none;
}

.container-box:hover>.view-event {
  display: block;
}

.container-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  text-decoration: none;
  width: 13vw;
  height: 30vh;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  margin-top: 3rem;
  background-color: #89a431;
  box-shadow: rgba(26, 59, 31, 0.6) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.2rem;
}

.container-box #flower {
  width: auto;
  position: absolute;
  height: 1.9rem;
  margin-top: calc(-30vh - 2.5rem);
}

.container-box #stem {
  position: absolute;
  height: 35vh;
  margin-top: calc(30vh + 30vh);
  z-index: -2;
}

.container-box p {
  margin-block: 0.2rem;
}

.container-box:nth-of-type(2n + 1) {
  margin-top: 8rem;
  background-color: #98b633;
}

.name-event,
.view-event {
  font-size: 1.4rem;
  font-family: var(--font-headings);
  font-weight: 600;
  text-transform: uppercase;
}

.place-event,
.month-event,
.date-event {
  font-family: var(--font-text);
  font-weight: 500;
}

.place-event {
  font-size: 1.2rem;
}

.month-event {
  font-size: 1.1rem;
}

.date-event {
  font-size: 3.8rem;
}

/* SCROLL TO TOP BUTTON */
.button-scroll {
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 99;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.button-scroll img {
  width: 2.5rem;
  border-radius: 50%;
}

.button-scroll img:hover {
  background-color: var(--color-white);
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: var(--color-black);
  padding-block: 1rem;
}

footer img {
  width: 1.5rem;
  padding: 0 0.75rem;
}

/*------- HAMBURGER MENU-------- */
#hamburger-menu {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-menu div {
  width: 2rem;
  height: .2rem;
  background-color: var(--color-black);
  transition: 0.4s;
}

#responsive-logo {
  display: none;
}

.open .line1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .line2 {
  opacity: 0;
}

.open .line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .responsive-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: -1;
}

.lines,
.line1,
.line2,
.line3 {
  margin: 6px 0;
  transition: 0.4s;
  display: block;
  z-index: 1;
}

.responsive-menu {
  display: none;
  position: absolute;
  background: var(--color-green);
  height: 100vh;
  width: 12rem;
  top: 0;
  right: 0;
  text-align: left;
  z-index: 1;
  transition: 1s;
  padding-top: 3.5rem;
  list-style: none;
}

.responsive-menu li {
  padding-bottom: 1.3rem;
}

.responsive-menu a {
  position: relative;
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-headings);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

#lang-button-container {
  display: flex;
}

#lang-button-container hr {
  background-color: var(--color-black);
  border: none;
  width: 2px;
}

.lang-button {
  background-color: transparent;
  border: none;
  padding-inline: .5rem;
  font-family: var(--font-headings);
  font-size: 1rem;
  font-weight: 600;
}

@media only screen and (max-width: 1350px) {
    .name-event,
    .month-event,
    .place-event {
      font-size: 1rem;
    }
}

@media only screen and (min-width: 1281px) {
  #home .video-container video {
    width: 90vw;
    margin-top: 5rem;
  } 
}

@media only screen and (max-width: 1100px) {

  #listen-now {
    flex-direction: column;
  }

  .record-plate,
  #vinyl-holder, #listen-now p {
    display: none;
  }

  #listen-now-responsive {
    display: block;
    font-family: var(--font-headings);
    color: var(--color-black);
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 1rem ;
    text-transform: uppercase;
  }

  .songs {
    display: block;
    margin: auto;
    text-align: center;
    width: 100vw;
    z-index: 2;
  }

  .home-box-body-song {
    margin-bottom: 2rem;
  }
  
  #events-details {
    position: absolute;
    z-index: -3;
    background-color: var(--color-green);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;  
    overflow: scroll;
  }

  #events-details h1{
    margin-top: 8rem;
    font-size: 2.5rem;
  }

  .event-list {
    display: grid;
    justify-content:space-evenly;
    align-items: end;
    grid-template-columns: auto auto auto;
    height: 80vh;
  }

  #stem {
    display: none;
  }

  #flower {
    display: none;
  }

  .container-box {
    min-width: 13rem;
  }

  .name-event {
    font-size: large;
  }
}



@media only screen and (max-width: 769px) {
  nav {
    display: none;
  }

  header {
    justify-content: space-between;
  }

  #hamburger-menu {
    display: block;
    margin-right: 2rem;
  }

  #responsive-logo {
    display: block;
    margin-left: 2rem;
  }

  #responsive-logo img {
    width: 10rem;
  }

  #about-me {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
  }

  #maaike-picture img {
    width: 100%;
    max-width: 20rem;
    margin-top: 1rem;
  }

  #maaike-text h1 {
    margin-top: 7rem;
  }

  #maaike-text p {
    width: 75%;
    text-align: center;
    font-size: 1.1rem;
  }


  #listen-now-responsive {
    margin-top: 3rem;
  }

  .contact-me-form {
    margin-right: 0rem;
  }

  .contact-me-tree {
    display: none;
  }

  .event-list {
    grid-template-columns: auto auto;
  }
  .container-box:nth-of-type(2n + 1) {
    margin-top: 3rem;
    background-color: #98b633;
  }
  #events-details h1{
    margin-top: 6rem;
  }
}


@media only screen and (max-width: 600px) {
  #maaike-picture img {
    display: none;
  }
}

@media only screen and (max-width: 550px) {

  .contact-me-info {
    margin-left: 0;
  }

  .contact-me-form {
    margin-right: 0;
    flex-direction: column;
  }
}

@media only screen and (max-width: 490px) {
  .event-list {
    grid-template-columns: auto;
  }
}
