* {
    margin: 0;
    padding: 0;
}

body{
	background-color: #eaefe7;
}

.body-home {
    overflow-y: hidden;
}

/* home page */
.container-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0;
    flex-wrap: wrap;
}

.box-menu-logo {
    flex: 1;
}

.box-menu-logo img{
    display: block;
    width: 8rem;
    flex: 1;
    margin-left: 7rem;
	margin-top: 1.5rem;
}

.box-menu-navigation {
    flex: 1.2;
}

.box-menu-navigation ul li {
    display: inline-block; 
    list-style: none;
    margin: 2rem 1.4rem;
 }
 
 .box-menu-navigation ul li a {
     position: relative;
     text-decoration: none;
     color: black;
     font-family: 'Rubik', sans-serif;
     font-weight: 700;
     text-transform: uppercase;
     font-size: 1rem;
 }

 .box-menu-language {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.box-menu-language .lang-button{
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
}

.vertical-line{
    padding: .3rem;
}
.container-body {
    display: flex;
    flex-wrap: wrap;
}

.box-body-tree {
    flex: 1;
}

.box-body-tree img {
    position: relative;
    top: 15%;
    right: 9%;
    width: 90%;
}

.box-body-photo {
    flex: 1;
    font-family: 'Bitter', serif;
    font-weight: 600;
    background-color: #eaefe7;
}

.box-body-photo img{
    position: relative;
    top: 1.4rem;
    width: 22rem;
    height: 32rem;
    border-radius: 0.3rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#name-first {
    position: relative;
    background-color: #eaefe7;
    width: 33%;
    font-size: 3rem;
    transform: translateY(-12rem);
}

#name-second {
    position: relative;
    background-color: #eaefe7;
    width: 38%;
    font-size: 3rem;
    transform: translateY(-11rem);
    padding-left: 1.2rem;
}

.box-body-song {
    flex: 1;
    position:relative;
    margin: auto;
    text-align:center;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
}
#box-body-song-text{
    margin-top: 0.5rem;
}
iframe{
border-radius: 0.7rem;
}

footer {
    display: inline-block;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #eaefe7;
    padding-bottom: 1.8rem;
    text-align: center;
}

footer img {
    width: 1.8%;
    padding: 0 0.5rem;
}

footer img:hover {
    opacity: 0.6;
    cursor: pointer;
}



