* {
    margin: 0;
    padding: 0;
}

body{
	background-color: #f3e9d3;
}

/* home page */
.container-menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.box-menu-logo {
    width: 9rem;
    flex: 1;
}

.box-menu-logo img{
    width: 7rem;
    flex: 1;
    margin-left: 3rem;
	margin-top: 1rem;
}

.box-menu-navigation {
    flex: 1.2;
}

.box-menu-navigation ul li {
    display: inline-block; 
    list-style: none;
    margin: 2rem 1.4rem;
 }
 
 .box-menu-navigation ul li a {
     position: relative;
     text-decoration: none;
     color: black;
     font-family: 'Rubik', sans-serif;
     font-weight: 700;
     text-transform: uppercase;
     font-size: 1.1rem;
 }

 .box-menu-language {
    flex: 1;
    text-align: center;
}

.container-body {
    display: flex;
    margin-top: .5rem;
}

.box-body-tree {
    background-color: aquamarine;
    flex: 1;
}

.box-body-photo {
    flex: .5;
}

.box-body-photo img{
    width: 22rem;
    height: 32rem;
}

.box-body-song {
    background-color: rgb(218, 132, 132);
    flex: 1;
}

footer {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: blanchedalmond;
}



